@import url(./__image/reviews-item__image.css);
@import url(./__name/reviews-item__name.css);
@import url(./__text/reviews-item__text.css);

.reviews-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 15px 0;
    background-color: white;
    border-radius: 5px;
}

.reviews-item:last-child {
    margin-bottom: 30px;
}