.form__input-name {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 51px auto 0;
    width: 100%;
    max-width: max-content;
    font-size: 14px;
    line-height: 17px;
    height: 30px;
}

.form__input-name:focus::placeholder {
    transform: translate(80%, -10px);
  }

.form__input-name:focus {
    outline: none;
  }